{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="titles">
                <div id="titlecontent">
                    <p>{{crawl|raw}}</p>
                </div>
            </div>

            <div id="welcome" style="margin-top:25em">
                <h1><span>STAR WARS</h1>
            </div>

            <div>
                <p>
                    {{ data.title }}
                </p>
            </div>

        </div>
    </div>
{% endblock %}