body {
	color: #ff6;
    background-color: #000;
    font-family: StarWars
}

#titles
{
	position: absolute;
	width: 18em;
	height: 20em;
	top: -75vh;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	/*font-weight: bold;*/
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
}

#titles:after
{
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

#titlecontent
{
	position: absolute;
	top: 100%;
	animation: scroll 100s linear 4s infinite;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@font-face {
    font-family: StarWars;
    src: url(fonts/Starjedi.ttf);
}

/*******************************************************
*
********************************************************/

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.flex-item {
	flex-grow: 0;
	margin: 10px;
}

.flex-homepage {
	height: 350px;
	width: 350px;
	background-color: red;
	background-size: cover;
	padding: 5px;
}

.item-link {
	display: inline-block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: inherit;
}

.item-people {
	background-image: url("../img/vader.jpeg");
}

.item-planets {
	background-image: url("../img/coruscant.png");
}

.item-starships {
	background-image: url("../img/destroyer.jpg");
}

.item-vehicles {
	background-image: url("../img/atat.jpg");
}

.item-species {
	background-image: url("../img/species.jpg");
}